.project
.cproject
.vivado_hls_log_all.xml
.settings/*
.apc/*
solution1/syn
solution1/impl
solution1/.autopilot
solution1/csim
solution1/sim
solution1/*.log
solution1/*.json
solution1/script.tcl
solution2/syn
solution2/impl
solution2/.autopilot
solution2/csim
solution2/sim
solution2/*.log
solution2/*.json
solution2/script.tcl

